@{
    ViewData["Title"] = "Home Page";
}
@model Fyo.Controllers.CodeViewModel;

<div style="text-align: center; padding: 25px;">
    <img src="/images/fyo.svg", style="width: 100px;" />
</div>

<hr />

<div style="padding: 25px;">

    <h1 style="text-align: center;">Welcome Player @Model.Code.Player</h1>

    <h3 style="text-align: center;">Connect your phone to the wireless network: "<span>@Model.Device.WirelessAccessPoint</span>"</h3> 

    <br />

    <div id="connecting" data-ip="@Model.Device.IPAddress">

    </div>
</div>

<div>Code @Model.Device.Name</div>

<script type="text/javascript" src="/js/fetch.js"></script>
<script type="text/javascript" src="/js/connect.js"></script>