@{
    ViewData["Title"] = "Home Page";
}
@model Fyo.Controllers.CodeViewModel;

<div style="text-align: center; padding: 25px;">
    <img src="/images/fyo.svg", style="width: 100px;" />
</div>

<hr />

<div style="padding: 25px;">

    <h1 style="text-align: center;">Welcome Player @Model.Code.Player</h1>

    <h3 style="text-align: center;">Connect To</h3> 

    <div class="wireless">
        <table>
            <tr>
                <td>
                    <img src="/images/wireless.png" />
                </td>
                <td>
                    <h1>@Model.Device.WirelessAccessPoint</h1> 
                </td>
            </tr>
        </table>
    </div>
    <br />

    <div id="connecting" data-ip="@Model.Device.IPAddress">

    </div>
</div>

<div>Code @Model.Device.Name</div>

<script type="text/javascript" src="/js/fetch.js"></script>
<script type="text/javascript" src="/js/connect.js"></script>