@{
    Layout = null;
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>FYO</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/icomoon-fonts.css">
    <link rel="stylesheet" type="text/css" href="/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="/css/settings.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/css/jquery.fancybox.css">
    <link rel="stylesheet" type="text/css" href="/css/zerogrid.css">
    <link rel="stylesheet" type="text/css" href="/css/jPushMenu.css">
    <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/onepage.css">
    <link rel="stylesheet" type="text/css" href="/css/one-color.css">
    <link rel="stylesheet" type="text/css" href="/css/loader.css">
    <link rel="shortcut icon" href="/images/favicon.png">
</head>

<body id="page-top" data-spy="scroll" data-target="#fixed-collapse-navbar" data-offset="120">





<!-- Main-Navigation -->
 <header id="main-navigation">
  <div id="navigation" data-spy="affix" data-offset-top="20">
    <div class="container">
      <div class="row">
      <div class="col-md-12">
      <ul class="top-right text-right">
            <li><a href="#." class="facebook"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#." class="twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#." class="instagram"><i class="icon-instagram"></i></a></li>
          </ul>
          
        <nav class="navbar navbar-default">
          <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#fixed-collapse-navbar" aria-expanded="true"> 
            <span class="icon-bar top-bar"></span> <span class="icon-bar middle-bar"></span> <span class="icon-bar bottom-bar"></span> 
            </button>
           <a class="navbar-brand logo" href="#."><img src="images/logo-white.png" alt="FYO GAME SYSTEM" class="img-responsive"></a> 
         </div>
        
          
        
            <div id="fixed-collapse-navbar" class="navbar-collapse collapse navbar-right">
              <ul class="nav navbar-nav">
                <li class="hidden">
                   <a class="page-scroll" href="#page-top"></a>
                </li>
                <li class="active">
                  <a href="#main-slider" class="page-scroll">Home</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                 
                <li>
                  <a href="#pricing" class="page-scroll">Prices</a>
                </li>
                
               
                
                <li>
                  <a href="#contact" class="page-scroll">Contact Us</a>
                </li>
              </ul>
            </div>
         </nav>
       </div>
       </div>
     </div>
  </div>
</header>  


<section class="section-padding" id="main-slider" style="height: 500px;">
  
			<div class="tp-caption tp-fade fadeout fullscreenvideo"
				data-x="0"
				data-y="0"
				data-speed="1000"
				data-start="1100"
				data-easing="Power4.easeOut"
				data-endspeed="1500"
				data-endeasing="Power4.easeIn"
				data-autoplay="true"
				data-autoplayonlyfirsttime="false"
				data-nextslideatend="true"
				data-forceCover="1"
				data-dottedoverlay="twoxtwo"
				data-aspectratio="16:9"
				data-forcerewind="on"
				style="z-index: 2; margin-top: 50px;">

                <video autoplay class="video-js vjs-default-skin" preload="none" width="100%" height="100%" poster='video/thumb.jpg' data-setup="{}">
                    <source src='/video/video.mp4' type='video/mp4' />
                    <source src='/video/video.webm' type='video/webm' />
                    <source src='/video/video.ogv' type='video/ogg' />
				</video>

			</div>
</section>





<!--What We Offer-->
<section class="section-padding" id="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center wow fadeIn" data-wow-duration="500ms" data-wow-delay="300ms">
        <p class="title">The Fyo Game System</p>
        <h2 class="heading">Some Nifty Features</h2>
      </div>
      </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="300ms"> 
        <span class="text-center"><i class="icon-icons9 color6"></i></span>
        <h4 class="color6">Custom Features</h4>
        <p>We can Customize the Fyo tables to the look and feel of your establishment.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="500ms"> 
        <span class="text-center"><i class="icon-umbrella color1"></i></span>
        <h4 class="color1">Creative Design</h4>
        <p>A collaboration of many developers and game enthusiasts are currently creating many different experiences.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="700ms"> 
        <span class="text-center"><i class="icon-icons20 color6"></i></span>
        <h4 class="color6">Easy maintenance</h4>
        <p>With very few modular parts, replacement is quick and easy.</p>
      </div>
      </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="900ms"> 
        <span class="text-center"><i class="icon-icons96  color1"></i></span>
        <h4 class="color1">Convienent Cell Phone Interaction</h4>
        <p>Supports Multiple players and phones. No special controllers needed!</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1100ms"> 
        <span class="text-center"><i class="icon-globe color6"></i></span>
        <h4 class="color6">Advertising</h4>
        <p>The Fyo System Can Advertise your establishment, specials and other information that others should know.</p>
      </div>
      <div class="col-md-4 col-sm-4 canvas-box magin30 text-center wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1200ms">
        <span class="text-center"><i class="icon-icons42 color1"></i></span>
        <h4 class="color1">Statistics</h4>
        <p>The Fyo game system can track customer habits and responses giving the owner new insights into business interactions. </p>
      </div>
    </div>
  </div>
</section>




<!-- Paralax Effect Section -->
<div style="position:relative;" class="top-padding">
<section id="bg-paralax2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p></p>
        
        
        
      </div>
    </div>
  </div>
</section>

</div>





<!-- Responsive image with left -->
<section id="responsive" class="top-padding">
  <div class="container-fluid">
    <div class="row responsive-pic">
      <div class="col-md-6 col-sm-6 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="600ms"> 
      	<img src="images/FyoTables.png" alt="fully responsive" class="img-responsive"> 
      </div>
      <div class="container wow fadeInRight" data-wow-duration="500ms" data-wow-delay="900ms">
        <div class="row">
          <div class="col-md-6 col-sm-6 r-test">
            <h3 class="magin30">Customizable Experience</h3>
            <p>We Can customize the Fyo System to the look and feel of your establishment.  </p>
            <h4>Features</h4>
            <ul class="r-feature">
              <li>Any Size TV</li>
              <li>Optional USB Charge Ports</li>
              <li>Mobile Development</li>
              <li>Hardened Glass</li>
              <li>Light Weight Design</li>
              <li>Combine TV's for larger screen</li>
              
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>






  
  



<section class="section-padding padding" id="pricing">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<p class="title">Ask About Bulk Pricing</p>
 <h2 class="heading">Table Prices</h2>
</div>
<div class="col-md-12">
<div class="pricing pricing_tenzin">
                <div class="pricing_item dark_gray">
                    <h3 class="pricing_title">Standard Classic</h3>
                    <div class="pricing_price"><span class="pricing_currency">$</span>2,500</div>
                    <p class="pricing_sentence">Perfect for frugal business owner</p>
                    <ul class="pricing_list">
                        <li class="pricing_feature">New Game Updates</li>
                        <li class="pricing_feature">Advertising</li>
                        <li class="pricing_feature">Analytic Tracking</li>
                    </ul>
                  
                </div>
                <div class="pricing_item active">
                    <h3 class="pricing_title">Custom</h3>
                    <div class="pricing_price"><span class="pricing_currency">$</span>TBD</div>
                    <p class="pricing_sentence">Suitable for themed resturaunts and chains</p>
                    <ul class="pricing_list">
                        <li class="pricing_feature">Game Update</li>
                        <li class="pricing_feature">Advertising</li>
                        <li class="pricing_feature">Analytic Tracking</li>
                      
                    </ul>
                    
                </div>
                <div class="pricing_item dark_gray">
                    <h3 class="pricing_title">Rent</h3>
                    <div class="pricing_price"><span class="pricing_currency">$</span>TBD</div>
                    <p class="pricing_sentence">Ramp up the fun!</p>
                    <ul class="pricing_list">
                        <li class="pricing_feature">Hardware Downpayment</li>
                        <li class="pricing_feature">pay monthly</li>
                        <li class="pricing_feature">Support and updates</li>
                        <li class="pricing_feature">Anaylitcs integration</li>
                    </ul>
                    
                </div>
            </div>
</div>
</div>
</div>
            
</section>







<!-- Paralax Effect Section -->
<div style="position:relative;" class="top-padding">
<section id="bg-paralax2">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <p></p>
        <h2 class="magin30"> </h2>
        
        
      </div>
    </div>
  </div>
</section>

</div>

















<!-- Contact Us -->
<section class="info-section" id="contact">
  <div class="row">
    <div class="col-md-6 block text-center wow fadeInLeftBig" data-wow-duration="500ms" data-wow-delay="300ms">
      <div class="center">
        <p class="title">Open for you</p>
        <h2>We're here</h2>
        <p class="margen"></p>
        <p><strong>Postal Adress:</strong> 1048 Wealthy, Grand Rapids MI 49503</p>
        
        <p><strong>Email:</strong> <a href="#.">Fyogamesystem@gmail.com</a></p>
        <ul class="social-link">
          <li><a href="#." class="text-center"><i class="fa fa-facebook"></i><span></span></a></li>
          <li><a href="#." class="text-center"><i class="fa fa-twitter"></i><span></span></a></li>
          <li><a href="#." class="text-center"><i class="fa fa-dribbble"></i><span></span></a></li>
          <li><a href="#." class="text-center"><i class="fa fa-flickr"></i><span></span></a></li>
        </ul>
      </div>
    </div>
    <div class="col-md-6 block light text-center wow fadeInRightBig" data-wow-duration="500ms" data-wow-delay="300ms">
      <div class="center">
        <p class="title"></p>
        <h2>Contact Us</h2>
        <form class="form-inline" id="contact-form" onSubmit="return false">
          <div class="row">
            <div class="col-md-12 center"><div id="result"></div> </div>
          </div>
          
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="text" class="form-control"  placeholder="Your Name" name="name" id="name" required>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 form-group">
              <input type="email" class="form-control"  placeholder="E-mail Address" name="email" id="email" required>
            </div>
            <div class="col-xs-12 col-md-12">
              <textarea placeholder="Message..." class="form-control" name="message" id="message"></textarea>
              <button type="submit" class="btn-black btn-blue bounce-green" id="btn_submit"> Send Message </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<!-- Footer-->
<footer class=" wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms"> 

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="breadcrumb">
          <li><a href="#." class="page-scroll">Home</a></li>
          
          
          <li><a href="#contact" class="page-scroll">Contact Us</a></li>
        </ul>
        <p>Copyright &copy; 2018 FYO. all rights reserved.</p>
      </div>
    </div>
  </div>
</footer>

 <a href="#." class="go-top text-center"><i class="fa fa-angle-double-up"></i></a>

<script src="/js/jquery-2.1.4.js"></script> 
<script src="/js/bootstrap.min.js"></script>

<script src="/js/jquery.easing.min.js"></script>
<script src="/js/owl.carousel.min.js"></script> 
<script src="/js/jquery-countTo.js"></script> 
<script src="/js/jquery.appear.js"></script> 
<script src="/js/jquery.circliful.js"></script>
<script src="/js/jquery.mixitup.min.js"></script>
<script src="/js/wow.min.js"></script>
<script src="/js/jquery.parallax-1.1.3.js"></script>
<script src="/js/jquery.fancybox.js"></script>
<script src="/js/jquery.fancybox-thumbs.js"></script>
<script src="/js/jquery.fancybox-media.js"></script>
<script src="/js/jPushMenu.js"></script>
<script src="/js/functions.js"></script>
 

</body>

</html>